<div class = "menu">
    <a href="/admin"> Introduction </a>
    <a href="/admin/users"> Users </a>
    <a href="/admin/variants"> Variants </a>
    <a href="/admin/comments"> Comments </a>
    <a href="/login/logout"> Logout </a>
</div>
<script>
	let menu = document.querySelector(".menu");
    let currentPath = location.href

    for(let menuItem of menu.children)
    {
        if(menuItem.href == currentPath)
            menuItem.setAttribute("class", "current");
    }
</script>