<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>CustomChess</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css", href="/styles/style.css"/>
<script type="text/javascript" src="/scripts/helper.js"></script>