<div class = "menu">
    <a href="/home"> Home </a>
    <% if (user) { %>
    <a href="/profile"> Profile </a>
    <a href="/invite"> Invites </a>
    <a href="/create"> Create </a>
    <a href="/login/logout"> Logout </a>
    <% } else {%>
    <a href="/login"> Login </a>
    <% } %>
</div>
<script>
	let menu = document.querySelector(".menu");
    let currentPath = location.href

    for(let menuItem of menu.children)
    {
        if(menuItem.href == currentPath)
            menuItem.setAttribute("class", "current");
    }
</script>