<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>
        <%- include(`partials/admin_menu`); %>
    <div class="centered-container">
    	<p style="font-size: 2rem; margin: 3rem">Variants.<p>
    </div>
    <div class="centered-container">
        <table class="admin-table">
            <tr>
                <th>Variant Title</th>
                <th>Creator</th>
                <th>Times Played</th>
                <th>Likes : Dislikes</th>
                <th>Duration</th>
                <th>Extension</th>
                <th>Privacy</th>
                <th>Actions</th>
            </tr>
            <% for (let v in variants) { %>
                <tr id="<%= variants[v].id%>">
                    <td><%= variants[v].title%></td>
                    <td><%= variants[v].creator%></td>
                    <td><%= variants[v].plays%></td>
                    <td><%= variants[v].likes%> : <%= variants[v].dislikes%></td>
                    <td><%= variants[v].duration%></td>
                    <td><%= variants[v].extension%></td>
                    <td><%= variants[v].privacy ? "Private" : "Public"%></td>
                    <td><input id="b<%= variants[v].id%>" class ="del-button" type="button" Value="Delete variant", onClick="javascript:confirmDel(<%= variants[v].id %>)"></th>
                </tr>
                
               
            <% } %>
        </table>
    </div>
    <script>


        async function confirmDel(id)
        {if (confirm("You are going to delete this variant, are you sure you want to proceed?") == true) {
              submit(id);
            } else {
              return;
            }
        }

        async function submit(id)
    {   
        console.log("b" + id);
        let button = document.getElementById("b" + id);
        button.disabled = true;

        let elements = document.getElementById(id);
        // Remove old elements
        let toRemove = [];
        for (let element of elements.children)
        {
            toRemove.push(element);
        }
        for (let element of toRemove)
        {
            element.remove();
        }

        var json = {};
        json.id = id;
        json = JSON.stringify(json);

        let response = {};
        response.success = await postData("/admin/variants/del", json);
        
        window.location.href = "/admin/variants";
        button.disabled = false;
    }
    </script>
    </body>
</html>