<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>
        <%- include(`partials/admin_menu`); %>
    <div class="centered-container">
    	<p style="font-size: 2rem; margin: 3rem">Welcome to the administrator control panel!<p>
    	<p style="margin: 3rem">From here you may control users, variants and comments.<p>
    </div>
    </body>

</html>