<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>
        <%- include(`partials/admin_menu`); %>
    <div class="centered-container">
        <table class="admin-table">
            <tr>
                <th>Database Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Administrator</th>
                <th>Deactivated</th>
                <th>Actions</th>
            </tr>
            <% for(let u of users) {%>
            <tr id ="<%= u.id%>">
                <td><%=u.id%></th>
                <td><%=u.username%></th>
                <td><%=u.email%></th>
                <td><%=u.isAdmin ? "Yes" : "No"%></th>
                <td><%=u.deactivated  ? "Yes" : "No"%></th>
                <%if (u.deactivated) { %>
                    <td><input id="<%= u.id%>" class ="del-button" type="button" Value="Reactivate", onClick="javascript:submit(<%= u.id %>, 1)"></th>
                <% } else {%>
                    <td><input id="<%= u.id%>" class ="set-button" type="button" Value="Deactivate", onClick="javascript:submit(<%= u.id %>, 0)"></th>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
    <script>
    async function submit(id, x)
    {   
        let button = document.getElementById(id);
        button.disabled = true;

        
        var json = {};
        json.id = id;
        json = JSON.stringify(json);
        let response = {};
        
        if (x == 1){
            response.success = await postData("/admin/users/reactivate", json);
        }
        else{
            response.success = await postData("/admin/users/deactivate", json)
        }
        window.location.href = "/admin/users";
        button.disabled = false;
    }
    </script>
    </body>

</html>