<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>
        <%- include(`partials/admin_menu`); %>
    <div class="centered-container">
    	<p style="font-size: 2rem; margin: 3rem">Comments.<p>
        <table class="admin-table">
            <tr>
                <th>Comment Id</th>
                <th>Player Id</th>
                <th>Variant Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
            <% for(let c of comments) {%>
            <tr id ="<%= c.id%>">
                <td><%=c.id%></th>
                <td><%=c.creatorId%></th>
                <td><%=c.variantId%></th>
                <td><%=c.content%></th>
                <td><input id="b<%= c.id%>" class ="del-button" type="button" Value="Delete comment", onClick="javascript:confirmDel(<%= c.id %>)"></th>
            </tr>
            <% } %>
        </table>
    </div>
    <script>

        async function confirmDel(id)
        {if (confirm("You are going to delete this comment, are you sure you want to proceed?") == true) {
              submit(id);
            } else {
              return;
            }
        }

        async function submit(id)
    {   
        let button = document.getElementById("b" + id);
        button.disabled = true;

        let elements = document.getElementById(id);
        // Remove old elements
        let toRemove = [];
        for (let element of elements.children)
        {
            toRemove.push(element);
        }
        for (let element of toRemove)
        {
            element.remove();
        }

        var json = {};
        json.id = id;
        json = JSON.stringify(json);

        let response = {};
        response.success = await postData("/admin/comments/del", json);
        
        window.location.href = "/admin/comments";
        button.disabled = false;
    }
    </script>
    </body>

</html>