<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>

        <%- include(`partials/menu`); %>

    <div class="centered-container" style="margin-top: 4rem; font-size: 2rem">
        <p> <%- message %></p>
    </div>
</html>