<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
        <script type="text/javascript" src="/scripts/chess.js"></script>
    </head>

    <body>

        <%- include(`partials/menu`); %>

        <div class = "createbox">
            <form action="javascript:submit()">
                <fieldset class="form-fieldset">

                    <div class="form-group">
                        <label class="form-label" for="title">Title:</label>
                        <input class="form-text" type="text" name="title" id="title" minlength="5" maxlength="30"  required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="email">Time limit (seconds):</label>
                        <input class="form-text" type="number" name="duration" id="duration" min="1" value="60">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="username">Time gained per move (seconds):</label>
                        <input type="number" class="form-text" name="extension" id="extension" value="0">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="private">Privacy setting:</label>
                        <select name="private" class="form-text" id="private">
                            <option value="true">Private</option>
                            <option value="false">Public</option>
                        </select>
                    </div>
                    <div class="centered-container">
                        <input class="form-button" type="submit" value="Create variant" style="margin-top: 5rem">
                    </div>
                </fieldset>
            </form>
            <div class ="message-container" id = "messages">
            </div>
        </div>
    </div>
        <div class="centered-container">
            Width:  <input type="number" class="inline-input" name="width" min = 1 value = 8 id="width">
            Height: <input type="number" class="inline-input" name="height" min = 1 value = 8 id="height">
                    <button class="form-button" onclick="makeBoard(document.getElementById('width'). value,document.getElementById('height').value); return false;">Make board</button>
        </div>
        <div class="centered-container">
            <button class="figure-button" figure="wk" onclick="changeSelection(this)"> White King </button>
            <button class="figure-button" figure="wq" onclick="changeSelection(this)"> White Queen </button>
            <button class="figure-button" figure="wr" onclick="changeSelection(this)"> White Rook </button>
            <button class="figure-button" figure="wb" onclick="changeSelection(this)"> White Bishop </button>
            <button class="figure-button" figure="wn" onclick="changeSelection(this)"> White Knight </button>
            <button class="figure-button" figure="wp" onclick="changeSelection(this)"> White Pawn </button>
        </div>
        <div class="centered-container">
            <button class="figure-button" figure="bk" onclick="changeSelection(this)"> Black King </button>
            <button class="figure-button" figure="bq" onclick="changeSelection(this)"> Black Queen </button>
            <button class="figure-button" figure="br" onclick="changeSelection(this)"> Black Rook </button>
            <button class="figure-button" figure="bb" onclick="changeSelection(this)"> Black Bishop </button>
            <button class="figure-button" figure="bn" onclick="changeSelection(this)"> Black Knight </button>
            <button class="figure-button" figure="bp" onclick="changeSelection(this)"> Black Pawn </button>
        </div>

        <div class="centered-container">
            <button class="figure-button" figure="x" onclick="changeSelection(this)"> Remove Figures</button>
        </div>

        <div class="centered-container">
            <button class="form-button" onclick="changeSize(10)">Zoom in</button><button class="form-button" onclick="changeSize(-10)">Zoom out</button>
        </div>

        <div class="chess-container" style="width: 55%; padding-bottom: 2rem">
        </div>

        <div class="modal" id="modal">
            <div class="modal-content">
                <p>Successfully created variant.</p>
                <button id="modalOK" class="form-button">OK</button>
            </div>
        </div>
    </body>
    <script>
    window.onbeforeunload = function(){ return "Are you sure you want to leave? Your work will be lost." };
    async function submit()
    {
        let submitButton = document.querySelector("input[type='submit']");
        submitButton.disabled = true;


        let messages = document.getElementById("messages");
        // Remove old messages
        let toRemove = []
        for (let message of messages.children)
        {
            toRemove.push(message)
        }
        for (let message of toRemove)
        {
            message.remove();
        }

        let data = {};
        data.title = document.getElementById("title").value;
        data.duration = document.getElementById("duration").value;
        data.extension = document.getElementById("extension").value;
        data.privacy = document.getElementById("private").value;
        data.board = boardDefinition;
        let json = JSON.stringify(data);

        let errors = await postData("/create", json);

        if (errors.length)
        {
            for (let error of errors)
            {
                let message = document.createElement("p");
                message.textContent = error;
                messages.appendChild(message);
            }
        }
        else
        {
            window.onbeforeunload = undefined;
            document.getElementById("modal").style.visibility = "visible";
            document.getElementById("modalOK").onclick = function(){window.location.href = "/"};
        }

        submitButton.disabled = false;
    }
    </script>

</html>