<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>

        <%- include(`partials/menu`); %>
    <div class="centered-container">
    	<p style="font-size: 3rem; margin: 3rem">Welcome to CustomChess<p>
    	<p style="font-size: 2rem; margin: 3rem">Check out our chess variants:<p>
    </div>

    <div class="centered-container">
        <p style="font-size: 2rem; margin: 3rem">Best rated variants:</p>
    </div>
    
    <div class="variant-container"> 
               
    	<% for(let id of bestRated) {%>
		       <a href="/variant/<%=id.toString()%>"><img src="images/variant/<%=id.toString()%>.png" class="poster"></a>
		<% } %>
    </div>

    <div class="centered-container">
        <p style="font-size: 2rem; margin: 3rem">Most popular variants:</p>
    </div>

    <div class="variant-container">       
         
    	<% for(let id of mostPopular) {%>
		       <a href="/variant/<%=id.toString()%>"><img src="images/variant/<%=id.toString()%>.png" class="poster"></a>
		<% } %>
    </div>

    <div class="centered-container">
        <p style="font-size: 2rem; margin: 3rem">Newest variants:</p>
    </div>

    <div class="variant-container">    
            
    	<% for(let id of newest) {%>
		       <a href="/variant/<%=id.toString()%>"><img src="images/variant/<%=id.toString()%>.png" class="poster"></a>
		<% } %>
    </div>

    </body>

</html>