<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>

        <%- include(`partials/menu`); %>

    <div class="centered-container" style="margin-top: 2rem">
        <% for(let invite of invites) {%>
            <div id="<%-invite.id%>" class="invite">
                <span> Invite from <%-invite.senderUsername%> </span>
                <button class="form-button" onclick="accept (<%-invite.id%>, <%-invite.senderId%>, <%-invite.variantId%>)">Accept</button>
                <button class="form-button" onclick="decline(<%-invite.id%>, <%-invite.senderId%>, <%-invite.variantId%>)">Decline</button>
            </div>
        <% } %>
    </div>
    <script>
    async function accept(inviteId, senderId, variantId)
    {
        postData("invite/delete", JSON.stringify({id: inviteId}));
        window.location.href = `/play/${variantId}/${senderId}`;
    }
    async function decline(inviteId, senderId, variantId)
    {
        await postData("invite/delete", JSON.stringify({id: inviteId}));
        document.getElementById(inviteId).remove();
    }
    </script>
    </body>

</html>