<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>

        <%- include(`partials/menu`); %>

        <div class = "loginbox">
            <form action="javascript:submit()">
                <fieldset class="form-fieldset">
                    <div class="form-group">
                        <label class="form-label" for="usernameOrEmail">Username or email:</label>
                        <input class="form-text" type="text" name="usernameOrEmail">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password:</label>
                        <input class="form-text" type="password" name="password">
                    </div>

                    <div class="centered-container">
                        <input class="form-button" type="submit" value="Login" style="margin-top: 5rem">
                    <div>

                    <div class="centered-container">
                        <a href="/register" class = "form-button"> New here? Register </a>
                    <div>
                </fieldset>
            </form>
            <div class ="message-container" id = "messages">
                <p hidden="true" id="success"> Registration successfull. Redirecting you to login <p>
            </div>
        </div>

    </body>
    <script>
    window.addEventListener("beforeunload", function (e)
    {
        var confirmationMessage = "Are you sure you want to leave? Your work will be lost."
        (e || window.event).returnValue = confirmationMessage;
        return confirmationMessage;
    });

    async function submit()
    {
        let submitButton = document.querySelector("input[type='submit']");
        submitButton.disabled = true;

        let messages = document.getElementById("messages");
        // Remove old messages
        let toRemove = []
        for (let message of messages.children)
        {
            toRemove.push(message)
        }
        for (let message of toRemove)
        {
            message.remove();
        }

        let formData = new FormData(document.querySelector("form"));
        var data = {};
        formData.forEach((value, key) => data[key] = value);
        var json = JSON.stringify(data);

        let errors = await postData("/login", json);
        if (errors.length)
        {
            for (let error of errors)
            {
                let message = document.createElement("p");
                message.textContent = error;
                messages.appendChild(message);
            }
        }
        else
        {
            window.location.href = "/";
        }

        submitButton.disabled = false;
    }
    </script>
</html>