<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
        <script type="text/javascript" src="/scripts/chess.js"></script>
    </head>
        <%- include(`partials/menu`); %>

    <body>
        <div class="centered-container" style="margin-bottom: 2rem;">
            <button class="form-button" onclick="changeSize(10)">Zoom in</button><button class="form-button" onclick="changeSize(-10)">Zoom out</button>
            <p id="firstPlayer"> First Player: <%- Boolean(sender) ? senderName : user.username %></p>
            <p id="timeFirst"></p>
            <div class="chess-container" style="width: 35%;"></div>
            <p id="timeSecond"></p>
            <p id="secondPlayer" style="margin-bottom: 2rem"> Second Player: <%- Boolean(sender) ? user.username : "?" %></p>
        </div>

    <% if (sender == null) { %>
        <div class="centered-container" id="inviting" style="margin-bottom: 5rem;">
            <p class="title"> Invite someone to play:</p>
            <form action="javascript:submit()">
                <fieldset class="form-fieldset">
                    <div class="form-group" style="display: inline;">
                        <label class="form-label" for="username" style="display: inline;">Username:</label>
                        <input class="form-text-inline" id="username" type="text" name="username" maxlength="25" style="display: inline; ">
                    </div>
                    <input class="form-button" type="submit" value="Invite" style="display: inline;">
                </fieldset>
            </form>
            <div class ="message-container" id = "messages"></div>
        </div>
    <% } %>

    <div class="modal" id="modal">
        <div class="modal-content" style="text-align: center;">
            <p id="modalText"></p>
            <button id="modalOK" onclick="window.location.href = '/'" class="form-button">OK</button>
        </div>
    </div>

    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script >
    const senderId = <%- sender || user.id%>;
    const firstPlayer = !<%- Boolean(sender) %>;
    const variantId = <%- variant.id %>;

    async function submit()
    {
        let submitButton = document.querySelector("input[type='submit']");
        submitButton.disabled = true;

        let messages = document.getElementById("messages");
        // Remove old messages
        let toRemove = []
        for (let message of messages.children)
        {
            toRemove.push(message)
        }
        for (let message of toRemove)
        {
            message.remove();
        }

        var data = {};
        data.username = document.getElementById("username").value;
        data.variantId = variantId;
        data.senderId = senderId;
        var json = JSON.stringify(data);

        let errors = await postData("/play/invite", json);
        if (errors.length)
        {
            for (let error of errors)
            {
                let message = document.createElement("p");
                message.textContent = error;
                messages.appendChild(message);
            }
        }
        else
        {
            let message = document.createElement("p");
            message.textContent = "Successfully invited.";
            messages.appendChild(message);
        }

        submitButton.disabled = false;
    }

    window.onbeforeunload = function()
    {
        return 'Are you sure you want to leave the game?';
    }

    console.log(senderId);

    var variant = JSON.parse('<%-(JSON.stringify(variant))%>')
    var board = variant.board;
    var firstTime = variant.duration;
    var secondTime = variant.duration;

    var onTurn = 1; // 1 - first player, 2 - second player
    var selectedField = -1;

    recreateBoard(board);
    var fields = board.fields;
    console.log(fields);

    for(let field of fields)
    {
        field.firstPawnMove = false;
        if(field.figure && field.figure[1] == "p")
        {
            field.firstPawnMove = true;
        }
    }


    var width = parseInt(board.width);
    var height = parseInt(board.height);

    let started = !firstPlayer;


    let timekeepingId = null;

    const socket = io(
    {
        reconnectionDelay: 1000,
        reconnection: true,
        reconnectionAttemps: 10,
        transports: ['websocket'],
        agent: false,
        upgrade: false,
        rejectUnauthorized: false,
        query:
        {
            "firstPlayer" : firstPlayer,
            "senderId" : senderId
        }
    });
    socket.on("message", function(data){console.log(data.message)});

    //socket.emit("fromClient", {id:123, helo: "helo"});
    if(firstPlayer)
    {
        socket.on("secondPlayerConnected", function(username)
        {
            document.getElementById("secondPlayer").innerHTML = "Second Player: " + username;
            document.getElementById("inviting").remove();

            started = true;
            timekeepingId = setInterval(timekeeping, 250);
            updateOnTurn()
        });
    }
    else
    {
        socket.emit("secondPlayerConnected", "<%-user.username%>", "<%-user.id%>");
        updateTimes();
        updateOnTurn()

        socket.on("timeUpdate", function(t1, t2)
        {
            firstTime = t1;
            secondTime = t2;
            updateTimes();
        });
    }

    // sender: 1 - first player, 2 - second player
    socket.on("turn", function(sender, idFrom, idTo)
    {
        if(firstPlayer)
        {
            if(sender == 1)
                firstTime  += variant.extension;
            else
                secondTime += variant.extension;
        }
        console.log("Player " + sender + " made turn");
        console.log("From " + idFrom);
        console.log("To "   + idTo);

        // self message
        if(firstPlayer && sender == 1 || !firstPlayer && sender == 2)
            return;
        moveFigure(idFrom, idTo);
        updateOnTurn(sender);
    });

    socket.on("finished", function(winner)
    {
        clearInterval(timekeepingId);

        window.onbeforeunload = null;

        let message = "Game finished.";

        if(winner == 1 && firstPlayer || winner == 2 && !firstPlayer)
        {
            message = "Game finished. You won!";
        }
        else
        {
            message = "Game finished. You lost... better luck next time.";
        }

        document.getElementById("modalText").innerHTML = message;
        document.getElementById("modal").style.visibility = "visible";
    });

    function updateTimes()
    {
        document.getElementById("timeFirst").innerHTML = secondsToTimestamp(firstTime);
        document.getElementById("timeSecond").innerHTML = secondsToTimestamp(secondTime);
    }

    var start = null;
    function timekeeping()
    {
        if(start === null)
        {
            start = new Date();
            return;
        }
        var end = new Date();

        var timePassed = (end - start) / 1000.0;

        if(onTurn === 1)
        {
            firstTime -= timePassed;
            if(firstTime < 0)
            {
                socket.emit("finished", 2, variantId);
                clearInterval(timekeepingId);
            }
        }
        else
        {
            secondTime -= timePassed;
            if(secondTime < 0)
            {
                socket.emit("finished", 1, variantId);
                clearInterval(timekeepingId);
            }
        }

        socket.emit("timeUpdate", firstTime, secondTime);
        updateTimes();

        start = new Date();
    }

    function moveFigure(idFrom, idTo)
    {
        let eaten = board.fields[idTo].figure;

        board.fields[idTo].figure = board.fields[idFrom].figure;
        board.fields[idFrom].figure = null;
        board.fields[idFrom].firstPawnMove= false;

        let fieldFrom = document.getElementById(idFrom.toString());
        let fieldTo = document.getElementById(idTo.toString());

        fieldTo.style.backgroundImage = fieldFrom.style.backgroundImage;
        fieldFrom.style.backgroundImage = "";

        return eaten;
    }

    function makeTurn(idFrom, idTo)
    {
        var sender = firstPlayer ? 1 : 2;
        socket.emit("turn", sender, idFrom, idTo);

        let eaten = moveFigure(idFrom, idTo);

        console.log("Eaten:" + eaten);

        if(eaten == "bk")
        {
            socket.emit("finished", 1, variantId);
            clearInterval(timekeepingId);

        }
        else if(eaten == "wk")
        {
            socket.emit("finished", 2, variantId);
            clearInterval(timekeepingId);
        }

        updateOnTurn(sender);
    }

    function fieldClick(id)
    {
        if(!started || onTurn == 1 && !firstPlayer || onTurn == 2 && firstPlayer)
            return;

        let field = document.getElementById(id);
        let markedFields = document.querySelectorAll(".chess-field[selected], .chess-field[playable]");

        if(field.hasAttribute("playable"))
        {
            makeTurn(selectedField, id);
            for(let previouslyMarkedField of markedFields)
            {
                previouslyMarkedField.removeAttribute("selected");
                previouslyMarkedField.removeAttribute("playable");
            }
        }
        else
        {
            let figure = board.fields[id].figure;
            if(figure && !field.hasAttribute("selected") && (figure[0] == "w" && firstPlayer || figure[0] == "b" && !firstPlayer))
            {
                selectedField = id;
                field.setAttribute("selected", "");
                for(let previouslyMarkedField of markedFields)
                {
                    previouslyMarkedField.removeAttribute("selected");
                    previouslyMarkedField.removeAttribute("playable");
                }
                findPlayable(id);
            }
            else
            {
                selectedField = -1;
                for(let previouslyMarkedField of markedFields)
                {
                    previouslyMarkedField.removeAttribute("selected");
                    previouslyMarkedField.removeAttribute("playable");
                }
            }
        }
    }

    function findPlayable(id)
    {
        let figureTeam = board.fields[id].figure[0];
        let figureType = board.fields[id].figure[1];

        let playable = [];

        let firstPawnMove = board.fields[id].firstPawnMove;

        if(figureType == "p")
        {
            if(figureTeam == "w")
            {
                let downLeft =  down(left (id));
                let downRight = down(right(id));
                let downId = down(id);

                if(traversable(downId))
                {
                    playable.push(downId);

                    downId = down(downId);
                    if(traversable(downId) && firstPawnMove)
                        playable.push(downId);
                }

                if(eatable(downLeft, figureTeam))
                    playable.push(downLeft);
                if(eatable(downRight, figureTeam))
                    playable.push(downRight);
            }
            else if(figureTeam == "b")
            {
                let upLeft =  up(left (id));
                let upRight = up(right(id));
                let upId = up(id);

                if(traversable(upId))
                {
                    playable.push(upId);
                    upId = up(upId);
                    if(traversable(upId) && firstPawnMove)
                        playable.push(upId)
                }

                if(eatable(upLeft, figureTeam))
                    playable.push(upLeft);
                if(eatable(upRight, figureTeam))
                    playable.push(upRight);
            }
        }
        else if(figureType == "k")
        {
            let candidates = [];
            candidates.push(down(id));
            candidates.push(up(id));
            candidates.push(left(id));
            candidates.push(right(id));
            candidates.push(left(down(id)));
            candidates.push(right(down(id)));
            candidates.push(left(up(id)));
            candidates.push(right(up(id)));

            for(let candidate of candidates)
            {
                if(traversable(candidate) || eatable(candidate, figureTeam))
                    playable.push(candidate);
            }
        }
        else if(figureType == "n")
        {
            let candidates = [];

            candidates.push(right(right(down(id))));
            candidates.push(right(right(up(id))));
            candidates.push(left(left(down(id))));
            candidates.push(left(left(up(id))));
            candidates.push(down(down(left(id))));
            candidates.push(down(down(right(id))));
            candidates.push(up(up(left(id))));
            candidates.push(up(up(right(id))));

            for(let candidate of candidates)
            {
                if(traversable(candidate) || eatable(candidate, figureTeam))
                    playable.push(candidate);
            }
        }
        else if(figureType == "q")
        {
            extend(id, figureTeam, playable, [left]);
            extend(id, figureTeam, playable, [right]);
            extend(id, figureTeam, playable, [up]);
            extend(id, figureTeam, playable, [down]);

            extend(id, figureTeam, playable, [up, left]);
            extend(id, figureTeam, playable, [up, right]);
            extend(id, figureTeam, playable, [down, left]);
            extend(id, figureTeam, playable, [down, right]);
        }
        else if(figureType == "b")
        {
            extend(id, figureTeam, playable, [up, left]);
            extend(id, figureTeam, playable, [up, right]);
            extend(id, figureTeam, playable, [down, left]);
            extend(id, figureTeam, playable, [down, right]);
        }
        else if(figureType == "r")
        {
            extend(id, figureTeam, playable, [left]);
            extend(id, figureTeam, playable, [right]);
            extend(id, figureTeam, playable, [up]);
            extend(id, figureTeam, playable, [down]);
        }

        for(let playableId of playable)
        {
            let field = document.getElementById(playableId);
            field.setAttribute("playable", "");
        }
    }

    function extend(id, figureTeam, playable, directionFunctions)
    {
        while(true)
        {
            for(let direction of directionFunctions)
            {
                id = direction(id);
            }

            if(eatable(id, figureTeam))
            {
                playable.push(id);
                break;
            }

            if(traversable(id))
                playable.push(id);
            else
                break;
        }
    }


    function traversable(id)
    {
        if(id == -1)
            return false;
        if(board.fields[id].removed)
            return false;
        if(board.fields[id].figure)
            return false;

        return true;
    }

    function eatable(id, eaterTeam)
    {
        if(id == -1)
            return false;

        if(teamAt(id) != "" && teamAt(id) != eaterTeam)
            return true;
        return false
    }

    function teamAt(id)
    {
        if(id == -1)
            return "";

        let figure = board.fields[id].figure;
        if(figure)
            return figure[0];
        else
            return "";
    }

    function left(id)
    {
        if(id == -1)
            return -1;

        if(id % width == 0)
            return -1;

        return id - 1;
    }

    function right(id)
    {
        if(id == -1)
            return -1;

        if((id + 1) % width == 0)
            return -1;

        return id + 1;
    }

    function down(id)
    {
        if(id == -1)
            return -1;

        if(id + width >= width * height)
            return -1;
        else
            return id + width;
    }

    function up(id)
    {
        if(id == -1)
            return -1;

        if(id - width < 0)
            return -1;
        else
            return id - width;
    }



    function updateOnTurn(sender)
    {
        console.log(sender);

        if(sender == 1)
            onTurn = 2;
        else
            onTurn = 1;

        if(onTurn == 1)
        {
            document.getElementById("timeFirst").style.color = "green";
            document.getElementById("timeSecond").style.color = "grey";
        }
        else
        {
            document.getElementById("timeFirst").style.color = "grey";
            document.getElementById("timeSecond").style.color = "green";
        }

    }

    </script>

</html>