<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>

        <%- include(`partials/menu`); %>

    <div class="centered-container">
        <p style="font-size: 3rem; margin: 3rem"><%= "Track record: " + (wins || 0) + " W " + (losses || 0) + " L"%><p>
    </div>

    <div class="centered-container">
        <p style="font-size: 3rem; margin: 3rem">My variants:<p>
    </div>

    <div class="variant-container">
        <% for(let o of own) {%>
            <div id="o.id">
               <a href="/variant/<%=o.id%>"><img src="images/variant/<%=o.id%>.png" class="poster"></a>

               <div class="centered-container">
                    <a class="variant" href="/variant/<%=o.id%>"><%= o.title%></a>
                </div>
                <div class="centered-container">
                    <input id="<%= o.id%>" class ="del-button" type="button" Value="Delete variant", onClick="javascript:confirmDel(<%= o.id %>, 0)">

                    <input id="<%= o.id%>" class ="set-button" type="button" Value="<%= o.privacy ? 'Make public' : 'Make private' %>", onClick="javascript:submit(<%= o.id %>, 1)">

                </div>
            </div>
        <% } %>
    </div>

    <div class="centered-container">
        <p style="font-size: 3rem; margin: 3rem">My favourite variants:<p>
    </div>
    <div class="variant-container">
        <% for(let f of favs) {%>
            <div id="f.id">
               <a href="/variant/<%=f.id%>"><img src="images/variant/<%=f.id%>.png" class="poster"></a>

               <div class="centered-container">
                    <a class="variant" href="/variant/<%=f.id%>"><%= f.title%></a>
                </div>
                <div class="centered-container">
                        <input id="<%= f.id%>" class ="del-button" type="button" Value="Unfavourite", onClick="javascript:confirmFav(<%= f.id %>, 2)">
                </div>
            </div>
        <% } %>
    </div>
    <script>
        
        async function confirmDel(id, x)
        {if (confirm("You are going to delete your variant, are you sure you want to proceed?") == true) {
              submit(id, x);
            } else {
              return;
            }
        }

         async function confirmFav(id, x)
        {if (confirm("You are going to remove this variant from your favourites, are you sure you want to proceed?") == true) {
              submit(id, x);
            } else {
              return;
            }
        }
        async function submit(id, x)
    {
        //console.log(id);
        let button = document.getElementById(id);
        button.disabled = true;

        var json = {};
        json.id = id;
        json = JSON.stringify(json);

        let response = {};
        if (x == 0){
            response.success = await postData("/profile/delete", json);
        }
        else if (x == 1){
            response.success = await postData("/profile/privacy", json);
        }
        else{
            response.success = await postData("/profile/unfav", json);
        }
        window.location.href = "/profile";
        button.disabled = false;
    }
    </script>
    </body>

</html>