<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
    </head>

    <body>

        <%- include(`partials/menu`); %>

        <div class = "loginbox">
            <form action="javascript:submit()">
                <fieldset class="form-fieldset">

                    <div class="form-group">
                        <label class="form-label" for="email">Email:</label>
                        <input class="form-text" type="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="username">Username:</label>
                        <input class="form-text" type="username" name="username" pattern="\S+" maxlength="25" minlength="5" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">Password:</label>
                        <input class="form-text" type="password" name="password" pattern="\S+" maxlength="25" minlength="8" required>
                    </div>

                    <div class="centered-container">
                        <input class="form-button" type="submit" value="Register" style="margin-top: 5rem">
                    <div>
                </fieldset>
            </form>
            <div class ="message-container" id = "messages">
            </div>
        </div>
    </body>

    <div class="modal" id="modal">
        <div class="modal-content" style="text-align: center;">
            <p>Registration successfull. Confirm your email to finish the process.</p>
            <button id="modalOK" class="form-button">OK</button>
        </div>
    </div>


    <script>
    async function submit()
    {
        let submitButton = document.querySelector("input[type='submit']");
        submitButton.disabled = true;

        let messages = document.getElementById("messages");
        // Remove old messages
        let toRemove = []
        for (let message of messages.children)
        {
            toRemove.push(message)
        }
        for (let message of toRemove)
        {
            message.remove();
        }

        let formData = new FormData(document.querySelector("form"));
        var data = {};
        formData.forEach((value, key) => data[key] = value);
        var json = JSON.stringify(data);

        let errors = await postData("/register", json);

        if (errors.length)
        {
            for (let error of errors)
            {
                let message = document.createElement("p");
                message.textContent = error;
                messages.appendChild(message);
            }
        }
        else
        {
            document.getElementById("modal").style.visibility = "visible";
            document.getElementById("modalOK").onclick = function(){window.location.href = "/"};
        }

        submitButton.disabled = false;
    }
    </script>
</html>