<!DOCTYPE html>
<html>

    <head>
        <%- include(`partials/head`); %>
        <script type="text/javascript" src="/scripts/chess.js"></script>
    </head>

    <body>
        <%- include(`partials/menu`); %>

        <div class="centered-container" style="width: 80%;">
            <div class="section">
                <p><%= variant.title + ' by ' + variant.creator%></p>
            </div>
            <div class="section">
                <p>Board layout:</p>
                <div class="chess-container" style="width: 50%"></div>
                <p><%= 'Time format: ' + variant.duration + '+' + variant.extension %></p>
                <button class="form-button" onclick="play(<%= variant.id %>)">Play</button>
            </div>

            <div class = "stats">

                <input class="form-button" style="width:10rem;" type ="button" id = "Like" onclick="handleLike(<%= variant.id %>)" value=<%= liked %>></button>
                <input class="form-button" style="width:10rem;" type ="button" id = "Dislike" onclick="handleDislike(<%= variant.id %>)" value=<%= disliked %>></button>
               <p> <input class="form-button" style="width:10rem;" type ="button" id = "toggle-fav" onclick="handleaddtofav(<%=variant.id %>)" value="<%= fav %>"></button></p>
                <!--<button type ="button" id= "favorite" onclick="fa"-->
                <p>Views: <%=variant.views%></p>
                <p id = "Liked" >Likes: <%=variant.Likes%></p>
                <p id = "Dislikes">Dislikes: <%=variant.Dislikes%></p>
                <p id = "plays">Plays: <%=variant.plays%></p>

            </div>

            <div>
                <p>Comments</p>
                <input class = "my-button" type="button" id="addCommentButton" value="Add comment" onclick="showForm()">
                <form id="form" action="" method="post"  style="display:none;" onsubmit="return handleClick()">
                    <textarea class="inputtext"  id="comment" name="comment" value="" rows="4" cols="70"></textarea>
                    <input class = "submit-button" type="submit" value="Post comment">
                    <input class = "cancel-button" type="button" value="Cancel" onclick="noForm()">
                </form>
                <p id="errorMessage"></p>
            </div>
            <% if(comments) { %>
                <div class="section">
                    <% for(let c of comments) { %>
                        <div class="comment-thread">
                            <div class="comment">
                                <div class="comment-author">
                                    <a class="comment-author"><%=c.username%>:</a>
                                </div>
                                <div class="comment-text">
                                    <p>
                                        <%=c.content%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <% if(!comments) { %>
                <p></p>
                <p id="nocomm">No comments to display yet.</p>

            <% } %>
        </div>


    </body>
    <script>

    var board = JSON.parse('<%-(JSON.stringify(variant.board))%>')
    recreateBoard(board);

    function play(variantId)
    {
        window.location.href = `/play/${variantId}`;
    }

    function showForm() {
        var x = document.getElementById("form");
        x.style.display="block";
        var y = document.getElementById("addCommentButton");
        y.style.visibility="hidden";
        var z = document.getElementById("nocomm");
        z.style.visibility="hidden";
    }

    function noForm() {
        var y = document.getElementById("comment");
        y.value="";

    }

    function handleClick() {
        var x = document.getElementById("comment");
        if(x.value.trim().length < 5 || x.value.trim().length > 280) {
            document.getElementById("errorMessage").innerHTML="Comment must be between 5 and 280 characters.";
            return false;
        }
        return true;
    }

    async function handleaddtofav(id){
        console.log("Usoufunk")
        var fav = document.getElementById("toggle-fav")
        console.log(fav.value)
        fav.disabled=true
        var json = {};
        json.id = id;
        json = JSON.stringify(json);
        let response = {};

        if(fav.value=="Favourite"){
            console.log("adtofav")
            await postData("/variant/addtofav",json)
            fav.value="Unfavourite"
        }

        else if(fav.value=="Unfavourite"){
            await postData("/variant/removefromfav",json)
            fav.value="Favourite"
        }
        fav.disabled=false
    }

    
    async function handleLike(id){

        var LikeButton = document.getElementById("Like");
        var DislikeButton = document.getElementById("Dislike");

        var json = {};
        json.id = id;
        json = JSON.stringify(json);
        let response = {};

        if(LikeButton.value=="unLiked"){
            await postData("/variant/Like", json);
        }

        if(LikeButton.value =="Like" && DislikeButton.value=="Disliked"){
            DislikeButton.value = "Dislike"
            LikeButton.value = "Liked"  
            LikeButton.disabled= true
            DislikeButton.disabled= true  
            response.success = await postData("/variant/Like", json);
            LikeButton.disabled= false
            DislikeButton.disabled= false
       

        }
        else if(LikeButton.value=="Like"){
            
            LikeButton.value ="Liked"
            LikeButton.disabled= true
            DislikeButton.disabled= true
            response.success = await postData("/variant/Like", json)
            LikeButton.disabled= false
            DislikeButton.disabled= false
        }           
        else if(LikeButton.value=="Liked"){
            LikeButton.value ="Like"
            LikeButton.disabled= true
            DislikeButton.disabled= true
            await postData("/variant/unLike", json);
            LikeButton.disabled= false
            DislikeButton.disabled= false
           
        }  

    }



    async function handleDislike(id){

        var LikeButton = document.getElementById("Like");
        var DislikeButton = document.getElementById("Dislike");

        var json = {};
        json.id = id;
        json = JSON.stringify(json);
        let response = {};

        if(DislikeButton.value=="unDisliked"){
            await postData("/variant/Dislike", json);
        }

        if(LikeButton.value =="Liked" && DislikeButton.value=="Dislike"){
            DislikeButton.value = "Disliked"
            LikeButton.value = "Like"
            LikeButton.disabled= true
            DislikeButton.disabled= true
            await postData("/variant/Dislike", json);
            LikeButton.disabled= false
            DislikeButton.disabled= false

           }
        
           else if(DislikeButton.value=="Dislike"){
            DislikeButton.value ="Disliked"
            LikeButton.disabled= true
            DislikeButton.disabled= true
            await postData("/variant/Dislike", json);
            LikeButton.disabled= false
            DislikeButton.disabled= false

            
        }           
        else if(DislikeButton.value=="Disliked"){
            DislikeButton.value ="Dislike"
            LikeButton.disabled= true
            DislikeButton.disabled= true
            await postData("/variant/unDislike", json);
            LikeButton.disabled= false
            DislikeButton.disabled= false

            
        }  
  
    }

    </script>

</html>