* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

div.outer
{
	border-width: 1px;
	border-style: solid;
	border-color: #ff00ff;
	padding: 20px;
	background-color: #ffa0ff;
	display: flex;
}

div.inner
{
	border: 1px solid #00ff00;
	background-color: #a0ffa0;
	padding: 20px;
	margin: 10px;
}


p.title
{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.menu
{
	padding: 1rem;
	font-size: 1.5rem;
	background-color: #0a0a0a;
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.invite
{

	padding: 1rem;
	margin: 1rem;
}

.menu p, .menu a
{
	margin: 2rem;
	color: #999999;
}

.menu a.current
{
	color: #ffffff;
}

.centered-container {
	font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

.message-container {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}


.loginbox
{
	border: 0.1rem solid #cccccc;
	border-radius: 1rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 35%;
	margin-right: 35%;
	padding: 2rem;
}

.wallpaper
{
	display: flex;
	justify-content: space-around;
}

.form-label
{
	font-size: 1.5rem;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.form-text
{
	font-size: 1.5rem;
	width: 100%;
	border: 0.1rem solid #000000;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
	padding: 0.2rem
}

.form-text-inline
{
	display: inline;
	font-size: 1.5rem;
	border: 0.1rem solid #000000;
	border-radius: 0.25rem;
	padding: 0.2rem
}

input:invalid:focus {
  border: 0.1rem dashed red;
}

.form-button
{
	border: 0.1rem solid #000000;
	text-decoration: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	margin: 0.5rem;
	cursor: pointer;
}

.form-button:hover  { background-color: #eeeeee}
.form-button:active  { background-color: #aaaaaa}
.form-button:focus  { border-style: dashed;}

.form-button[disabled]
{
	background-color: #888888;
}



.modal
{
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content
{
	display: flex;
	padding: 2rem;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	background-color: #ffffff;
	border: 0.1rem solid #000000;
	width: 40%;
}

.modal-content p
{
	margin-bottom: 2rem;
}

.modal-content button
{
	width: 40%;
}

.createbox
{
	font-size: 1.5rem;
	border: 0.1rem solid #cccccc;
	border-radius: 1rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 30%;
	margin-right: 30%;
	padding: 2rem;
}

.inline-label
{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-block;
	width:40%;
}

.inline-input
{
	font-size: 1.5rem;
	border: 0.1rem solid #000000;
	border-radius: 0.25rem;
	padding: 0.2rem
}

.chess-container {
	margin: auto;
	display: grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.chess-field {
	background-color: black;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    border: none;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.chess-field::before {
    content: "";
    padding-top: 100%;
    float: left;
}


.chess-field.white
{
	background-color: #f0d9b5;
}

.chess-field.black
{
	background-color: #b58863;
}

.chess-field.white[selected], .chess-field.white[playable]
{
	background-color: #C0DAA0;
}

.chess-field.black[selected], .chess-field.black[playable]
{
	background-color: #A3B177;
}

.chess-field.white:hover
{
	background-color: #f0d9b577;
}

.chess-field.black:hover
{
	background-color: #b5886377;
}

.chess-field[selected]:hover, .chess-field[playable]:hover
{
	background-color: #90DA8a77;
}

.chess-field[removed]
{
	background-color: grey;
}

.chess-field[removed]:hover
{
	background-color: grey;
}

.figure-button
{
	border: 0.1rem solid #000000;
	text-decoration: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	margin: 0.5rem;
	cursor: pointer;
	width: 10%;
}

.figure-button[selected]
{
	background-color: #999999;
}

.figure-button:hover           { background-color: #eeeeee }

.figure-button[selected]:hover { background-color: #aaaaaa }

.section
{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-bottom: 0.5rem solid #000000;
}

.section p, .section div
{
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.variant-container
{
	width: 80%;
	margin: auto;
	border: 0.1rem solid grey;
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.poster
{
	margin: 2rem;
	width:400px;
	height:500px;
	cursor: pointer;
	border: 4px solid #000000;
}

.admin-table
{
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	font-size:
}

table.admin-table, .admin-table th, .admin-table td
{
  	border-collapse: collapse;
  	border: 2px solid black;

}

.admin-table th, .admin-table td
{
  padding: 0.5rem;
}
.variant:link, .variant:visited
{
	color: black;
	text-decoration: none;
}

.variant:hover
{
	color: deepskyblue;
	text-decoration: none;
}

.set-button
{
	border: 0.1rem solid #000000;
	text-decoration: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	margin: 0.5rem;
	cursor: pointer;
	background-color: lightgreen;
}

.set-button:hover  { background-color: green;}
.set-button:active  { background-color: limegreen;}
.set-button:focus  { border-style: dashed;}

.set-button[disabled]
{
	background-color: darkgreen;
}

.del-button
{
	border: 0.1rem solid #000000;
	text-decoration: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	margin: 0.5rem;
	cursor: pointer;
	background-color: red;
}

.del-button:hover  { background-color: indianred;}
.del-button:active  { background-color: darkred;}
.del-button:focus  { border-style: dashed;}

.del-button[disabled]
{
	background-color: darkred;
}

.comment-thread {
	width: 700px;
	max-width:100%
	margin:auto;
	padding:0px 30px;
	background-color: #fff;
	border-radius:25px;
	border: 1px solid ;
	word-wrap:break-word;
}

.comment {
	height:150px;
	position:relative;
	margin: 20px auto;
}

.comment-author {
	display:flex;
	align-items:center;
	margin-left:10px;
	font size:14px;
	font-weight:bold;
}

.comment-text {
	display:block;
	text-align:left;
	margin-left:50px;
	font-size:20px;
	overflow-wrap:break-word;
}

.my-button {
	background-color:#008CBA;
	border: none;
	color: white;
	text-align: center;
	font-size:16 px;
	padding: 15px 32px;
	margin:50px;
}

.submit-button {
	background-color:#f44336;
	border:none;
	color:white;
	text-align:center;
	font-size:12px;
	padding: 10px 24px;
}

.inputtext {
	height:250px;
	width: 700px;
	vertical-align:top;
	padding: 10px 24px;
	box-sizing:border-box;
	border-radius:25px;
	border: 2px solid;
	resize:none;
	overflow:auto;
	word-break:break-word;
}

.cancel-button {
	background-color:#e7e7e7;
	border:none;
	color:black;
	text-align:center;
	font-size:12px;
	padding: 10px 24px;
}